@import "tailwindcss";

/* =====================
   LEAFLET POPUP COMPACT CARD
===================== */
.estate-popup .leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 12px;
  background: transparent;
  box-shadow: none;
}

.estate-popup .leaflet-popup-content {
  margin: 0;
  width: auto !important;
}

.estate-popup .leaflet-popup-tip {
  background: #ffffff;
  box-shadow: none;
}

.estate-popup .leaflet-popup-close-button {
  display: none;
}
