services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: DietiRealEstatesDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  server:
    build: ./server
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    environment:
      DB_CONNECTION_URI: postgres://postgres:postgres@postgres:5432/DietiRealEstatesDB
      DIALECT: postgres
      ALLOWED_ORIGINS: http://localhost:5173,http://localhost:3000
    depends_on:
      - postgres

  client:
    build: ./client
    ports:
      - "5173:80"
    depends_on:
      - server

volumes:
  db_data:
